body {
	font-family: Georgia;
}

.small {
	font-size: .7em;
}


/* discussion section */

#discussion {
	width: 700px;
	margin: 10px 0 10px 0;
	padding: 10px;
	color: #111;
}

#discussion h3 {
	text-decoration: underline;
}

#discussion .comment {
	width: 500px;
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid #555;
	background-color: #FAFAFA;
}

	#discussion .comment .comment_user {
		text-decoration: underline;
	}

		#discussion .comment .comment_user .bold {
			font-weight: bold;
		}

	#discussion .comment .comment_text {
		font-style: italic;
	}

.link{
    width: 500px;
	border: 1px solid #555;
	padding: 0 15px 0 15px;
	margin-bottom: 30px;
	background-color:#F5F5F5;
}
    .link .link_one {
        margin-bottom: 10px;
        margin-top: 10px;
		color: #777;
	}

.input {
	width: 300px;
	height: 23px;
}
	.input .name {
		width: 100px;
		float: left;
	}
	.input .name label {
		float: right;
	}

	.input .edit {
		width: 200px;
		float: right;
	}