{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<form method="POST" >
	{% for (postName, showName) in inputs %}
	<div class="input">
		<div class="name">
			<label for="{{postName}}" >{{showName}}</label>
		</div>
		<div class="edit">
			<input type="text" name="{{postName}}" id="{{postName}}" value="{{ book.get(postName, '') }}">
		</div>
	</div>
	{% end %}<br>
	Description<br>
	<textarea name="description" rows="5"
		cols="40">{% raw book.get('description', '')%}</textarea><br>
	<input type="submit" value="Save">
</form>
{% end %}
